* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lemonada', cursive;
}

body {
  background-image: url("./img/bodyBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 550px;
  width: 60%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/mainBG.jpg");
  margin: 5% auto;
  border-radius: 15px;
}

body main button {
  cursor: pointer;
}

body main button:focus {
  outline: none;
}

body main #menu {
  width: 100%;
  min-height: 550px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 1em;
  color: whitesmoke;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main #menu div {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main #menu div article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

body main #menu div article input {
  height: 40px;
  width: 60%;
  font-size: 14px;
  font-weight: bold;
  border: 5px double lightblue;
}

body main #menu div article button {
  height: 50px;
  width: 100px;
  margin: 10px;
  border-radius: 25px;
  font-weight: bold;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

body main #menu div article button:hover {
  background-color: transparent;
  color: whitesmoke;
  border: 5px double lightblue;
}

body main #gameSection {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: none;
  font-size: 2em;
  color: whitesmoke;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main #gameSection .restart {
  background-color: transparent;
  border: 5px double lightblue;
  color: whitesmoke;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  display: none;
  position: absolute;
}

body main #gameSection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

body main #gameSection #answers {
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
}

body main #gameSection #answers article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main #gameSection #answers article button {
  min-height: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
  font-size: 0.7em;
  background-color: transparent;
  border: 5px double lightblue;
  color: whitesmoke;
  border-radius: 15px;
  word-wrap: break-word;
}

body main #gameSection #answers #nextSong {
  height: 70px;
  width: 200px;
  display: none;
  font-size: 0.7em;
  background-color: transparent;
  border: 5px double lightblue;
  color: whitesmoke;
  border-radius: 15px;
}

body main #endGame {
  display: none;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  color: whitesmoke;
}

body main #endGame button {
  margin-top: 50px;
  padding: 20px;
  background-color: transparent;
  border: 5px double lightblue;
  color: whitesmoke;
  border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */